header {
    margin-top:30px
}
main {
    margin-bottom:30px
}
.answer {
    background: #f2fff6 !important
}
body #survey code[class*="language-"], body #survey pre[class*="language-"] {
    font-size: 1rem;
}
